<% render 'list' %>
      <div class='body'>
        <div class='container'>
          <p id="notice"></p>
          <div class='row'>
            <div class='col-xs-3'>
              <h2>User info</h2>
              <table class='table'>
                <tr><img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image" /></tr>
                <tr><th>Name</th><th><=%= @user.name  %></th></tr>
                <tr><th>introduction</th><th><=%= @user.introduction %></th></tr>
              </table>

              <form>
                <div class='row'>
                  <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_26003" href="/users/26003/edit"></a>
                </div>
                <h2>New book</h2>
                <%= form_with model:@book, local:true do |f| %>
                  <% if @book.errors.any? %>
                    <% book.errors.full_messages.each do |message| %>
                      <li>error <%= message %></li>
                    <% end %>
                  <% end %>
                  <div class="field row">
                    <label for="book_title">Title</label>
                    <%= f.text_field :title %>
                  </div>
                  <div class="field row">
                    <label for="book_opinion">Opinion</label>
                    <%= f.text_area :body %>
                  </div>
                  <div class="actions row">
                    <%= f.submit 'Create Book' %>
                  </div>
                <% end %>
              </form>

              <div class='col-xs-9'>


                <h2>Books</h2>
                <table class='table'>
                  <thead>
                    <tr>
                      <th></th>
                      <th>Title</th>
                      <th>Opinion</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <%= @books.each do |book| %>
                      <td><=%= attachment%></td>
                      <td><%= link_to book.title, show_book_path(book) %></td>
                      <td><%= book.body %></td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>